<div class="rounded-xl shadow bg-surface-container overflow-hidden h-full">
  <a [routerLink]="['/contents', lesson().id]">
    <div class="h-36 relative bg-surface-dim">
      @if (lesson().cover) { @let src = '/api/upload/' + lesson().cover;
      <img [src]="src" class="w-full h-full object-center object-cover" />
      }
    </div>
    <div class="space-y-2 p-4">
      <h3 class="text-xl font-bold">{{ lesson().title }}</h3>
      <div class="flex items-center gap-2">
        @if (lesson().category) {
          <div
            class="px-2 py-1 text-xs bg-secondary text-on-secondary font-semibold rounded-lg"
          >
            {{ lesson().category?.name }}
          </div>
        }
        @if (lesson().topic) {
          <div
            class="px-2 py-1 text-xs bg-tertiary text-on-tertiary font-semibold rounded-lg"
          >
            {{ lesson().topic?.name }}
          </div>
        }
      </div>
      <p class="line-clamp-3 text-sm">
        {{ lesson().description }}
      </p>
      <!-- <ul class="flex flex-wrap items-center gap-2">
        <li
          class="px-2 py-1 text-xs font-semibold bg-primary text-on-primary rounded-full"
        >
          Tag1
        </li>
        <li
          class="px-2 py-1 text-xs font-semibold bg-primary text-on-primary rounded-full"
        >
          Tag1
        </li>
        <li
          class="px-2 py-1 text-xs font-semibold bg-primary text-on-primary rounded-full"
        >
          Tag1
        </li>
        <li
          class="px-2 py-1 text-xs font-semibold bg-primary text-on-primary rounded-full"
        >
          Tag1
        </li>
        <li
          class="px-2 py-1 text-xs font-semibold bg-primary text-on-primary rounded-full"
        >
          Tag1
        </li>
      </ul> -->
      <div>
        <span class="text-xs">4 days ago</span>
      </div>
    </div>
  </a>
</div>
