<v-overlay>
  <div class="bg-surface p-8 rounded-3xl max-w-sm mx-auto">
    <form [formGroup]="form" (ngSubmit)="create()" class="space-y-8">
      <h3 class="text-xl font-bold text-center">สร้างบทเรียน</h3>
      <div class="space-y-4">
        <div class="flex flex-col gap-1">
          <label class="text-xs font-semibold">หมวดหมู่</label>
          <select
            id="category"
            formControlName="categoryId"
            class="px-4 py-2 rounded-xl bg-surface-container dark:bg-dark-surface-container"
          >
            <option [value]="null">ไม่เลือกหมวดหมู่</option>
            @for (category of contentService.categories(); track $index) {
            <option [value]="category.id">
              {{ category.name }}
            </option>
            }
          </select>
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-xs font-semibold">หมวดหมู่ย่อย</label>
          <select
            id="topic"
            formControlName="topicId"
            class="px-4 py-2 rounded-xl bg-surface-container dark:bg-dark-surface-container"
            [disabled]="!filteredTopics.length"
          >
            <option [value]="null">ไม่เลือกหมวดหมู่ย่อย</option>
            @for (topic of filteredTopics; track $index) {
            <option [value]="topic.id">
              {{ topic.name }}
            </option>
            }
          </select>
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-xs font-semibold">รหัสบทเรียน</label>
          <input
            type="text"
            class="px-4 py-2 rounded-xl bg-surface-container dark:bg-dark-surface-container"
            formControlName="id"
          />
          @if (id?.hasError("required") && id?.touched) {
          <span class="text-error dark:text-dark-error text-xs"
            >* จำเป็นต้องใส่รหัสบทเรียน</span
          >
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-xs font-semibold">ชื่อบทเรียน</label>
          <input
            type="text"
            class="px-4 py-2 rounded-xl bg-surface-container dark:bg-dark-surface-container"
            formControlName="title"
          />
          @if (title?.hasError("required") && title?.touched) {
          <span class="text-error dark:text-dark-error text-xs"
            >* จำเป็นต้องใส่ชื่อบทเรียน</span
          >
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-xs font-semibold">คำอธิบาย</label>
          <textarea
            type="text"
            class="px-4 py-2 rounded-xl bg-surface-container dark:bg-dark-surface-container"
            formControlName="description"
            rows="4"
          ></textarea>
        </div>
      </div>
      @if (failured) {
      <span class="block text-error dark:text-dark-error text-xs">{{
        err
      }}</span>
      }
      <div class="grid grid-cols-2 place-items-center font-semibold">
        <button [disabled]="form.invalid" class="disabled:opacity-25">
          สร้าง
        </button>
        <button type="button" (click)="close()">ยกเลิก</button>
      </div>
    </form>
  </div>
</v-overlay>
