<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <div class="tool-bar">
      <div class="tool-group-wrapper">
        <span>Headings</span>
        <div class="tool-group">
          <button (click)="add('# heading1', 2, 8, true)">
            <i class="ms">format_h1</i>
          </button>
          <button (click)="add('## heading2', 3, 8, true)">
            <i class="ms">format_h2</i>
          </button>
        </div>
      </div>
      <div class="tool-group-wrapper">
        <span>Format</span>
        <div class="tool-group">
          <button (click)="add('**bold**', 2, 4, false)">
            <i class="ms">format_bold</i>
          </button>
          <button (click)="add('*italic*', 1, 6, false)">
            <i class="ms">format_italic</i>
          </button>
          <button (click)="add('~~strikethrough~~', 2, 13, false)">
            <i class="ms">format_strikethrough</i>
          </button>
        </div>
      </div>
      <div class="tool-group-wrapper">
        <span>Lists</span>
        <div class="tool-group">
          <button (click)="add('+ unordered', 2, 9, true)">
            <i class="ms">format_list_bulleted</i>
          </button>
          <button (click)="add('1. ordered', 3, 7, true)">
            <i class="ms">format_list_numbered</i>
          </button>
        </div>
      </div>
      <div class="tool-group-wrapper">
        <span>Objects</span>
        <div class="tool-group">
          <button (click)="add('$math$', 1, 4, false)">
            <i class="ms">123</i>
          </button>
          <button (click)="add('$$math$$', 2, 4, false)">
            <i class="ms">functions</i>
          </button>
          <button (click)="add('`code`', 1, 4, false)">
            <i class="ms">code</i>
          </button>
          <button (click)="add('```lang\n\n```', 3, 4, true)">
            <i class="ms">code_blocks</i>
          </button>
          <button (click)="add('> quote', 2, 5, true)">
            <i class="ms">format_quote</i>
          </button>
          <button (click)="imageUpload.click()">
            <i class="ms">photo</i>
          </button>
          <button (click)="add('---\n', 4, 4, true)">
            <i class="ms">horizontal_rule</i>
          </button>
          <button (click)="add('[link](https://www.google.com)', 1, 4, false)">
            <i class="ms">add_link</i>
          </button>
          <button (click)="add('|th|th|\n|--|--|\n|td|td|', 1, 2, false)">
            <i class="ms">table</i>
          </button>
        </div>
      </div>
    </div>
    <textarea
      [formControl]="content"
      class="w-full h-full px-4 py-2 rounded-xl bg-surface-container"
      #input
    ></textarea>
  </div>
  <div class="p-4 hidden md:block">
    <v-content-view [content]="content.value ?? ''" />
  </div>
</div>

<button
  (click)="confirmPanel.open()"
  class="fixed bottom-4 right-4 px-4 py-2 rounded-xl shadow font-semibold bg-primary-container text-on-primary-container z-10"
>
  Save
</button>

@if (confirmPanel.isOpened) {
<v-overlay>
  <div class="bg-surface p-8 rounded-3xl max-w-sm mx-auto space-y-8">
    <h3 class="text-xl font-bold text-center">อัปเดตเนื้อหา</h3>
    @if (failured) {
    <span class="block text-error text-xs">{{ err }}</span>
    }
    <div class="grid grid-cols-2 place-items-center font-semibold">
      <button (click)="update()">อัปเดต</button>
      <button (click)="confirmPanel.close()">ยกเลิก</button>
    </div>
  </div>
</v-overlay>
}

<input
  type="file"
  accept="image/*"
  class="hidden"
  (input)="uploadImage($event)"
  #imageUpload
/>
