<div class="py-8 space-y-16">
  <section class="space-y-4">
    <h2 class="text-4xl font-black">Higlight</h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-stretch"
    >
      @for (lesson of lessons; track $index) {
      <v-lesson-card [lesson]="lesson" />
      }
    </div>
  </section>
  <section class="space-y-4">
    <h2 class="text-4xl font-black">Categories</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (category of categories; track $index) {
      <v-category-card [category]="category" />

      }
    </div>
  </section>
</div>
