<div class="py-4 space-y-4">
  @if (lesson()?.cover) {
  <div class="h-64 relative rounded-xl overflow-hidden">
    @let src = '/api/upload/' + lesson()?.cover;
    <img class="object-cover object-center h-full w-full" [src]="src" alt="" />
  </div>
  }
  <h1 class="text-4xl font-black">{{ lesson()?.title }}</h1>
  <p>{{ lesson()?.description }}</p>
  <div class="flex items-center gap-2">
    @if (lesson()?.category) {
    <div
      class="px-2 py-1 text-xs bg-secondary text-on-secondary font-semibold rounded-lg"
    >
      {{ lesson()?.category?.name }}
    </div>
    } @if (lesson()?.topic) {
    <div
      class="px-2 py-1 text-xs bg-tertiary text-on-tertiary font-semibold rounded-lg"
    >
      {{ lesson()?.topic?.name }}
    </div>
    }
  </div>
  <div>
    <span class="text-xs"
      >{{
        lesson()?.createdAt ? (lesson()!.createdAt! | relativeTime) : ""
      }}
      (อัปเดตเมื่อ
      {{
        lesson()?.updatedAt ? (lesson()!.updatedAt! | relativeTime) : ""
      }})</span
    >
  </div>
  <div>
    <v-content-view [content]="lesson()!.content" />
  </div>
</div>
