@use "./scss/font";
@use "./scss/icons";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 62, 103, 0;
  --on-primary: 255, 255, 255;
  --secondary: 75, 102, 42;
  --on-secondary: 255, 255, 255;
  --tertiary: 0, 105, 78;
  --on-tertiary: 255, 255, 255;
  --error: 186, 26, 26;
  --on-error: 255, 255, 255;
  --primary-container: 79, 130, 0;
  --on-primary-container: 249, 255, 234;
  --secondary-container: 204, 238, 161;
  --on-secondary-container: 81, 109, 47;
  --tertiary-container: 0, 133, 100;
  --on-tertiary-container: 245, 255, 248;
  --error-container: 255, 218, 214;
  --on-error-container: 147, 0, 10;
  --primary-fixed: 178, 246, 95;
  --primary-fixed-dim: 151, 217, 69;
  --on-primary-fixed: 16, 32, 0;
  --on-primary-fixed-variant: 47, 79, 0;
  --secondary-fixed: 204, 238, 161;
  --secondary-fixed-dim: 177, 209, 136;
  --on-secondary-fixed: 16, 32, 0;
  --on-secondary-fixed-variant: 52, 78, 20;
  --tertiary-fixed: 124, 249, 203;
  --tertiary-fixed-dim: 93, 220, 176;
  --on-tertiary-fixed: 0, 33, 22;
  --on-tertiary-fixed-variant: 0, 81, 60;
  --surface: 247, 251, 234;
  --surface-dim: 216, 220, 204;
  --surface-bright: 247, 251, 234;
  --surface-container: 236, 240, 223;
  --surface-container-lowest: 255, 255, 255;
  --surface-container-low: 242, 245, 229;
  --surface-container-highest: 224, 228, 212;
  --surface-container-high: 230, 234, 218;
  --on-surface: 25, 29, 19;
  --on-surface-variant: 66, 73, 55;
  --outline: 114, 122, 102;
  --outline-variant: 194, 202, 178;
  --inverse-primary: 151, 217, 69;
  --inverse-surface: 46, 50, 39;
  --inverse-on-surface: 239, 243, 226;
  --scrim: 0, 0, 0;
  --shadow: 0, 0, 0;
}

body {
  font-family: "Noto Sans Thai";
  @apply bg-surface text-primary;
}


hr {
  @apply border-current;
}