<v-overlay>
  <div class="bg-surface p-8 rounded-3xl max-w-sm mx-auto space-y-8">
    <h3 class="text-xl font-bold text-center">ลบหมวดหมู่</h3>
    <p>หมวดหมู่จะหายไปอย่างถาวร ความสัมพันธ์ของข้อมูลจะถูกแทนที่ด้วยค่าว่าง</p>
    @if (failured) {
    <span class="block text-error dark:text-dark-error text-xs">{{ err }}</span>
    }
    <div class="grid grid-cols-2 place-items-center font-semibold">
      <button (click)="delete()">ลบ</button>
      <button (click)="close()">ยกเลิก</button>
    </div>
  </div>
</v-overlay>
